.owl-carousel-container {
  .owl-carousel-content {
    .card-list-carousel {
      background-color: transparent !important;
      color: white !important;
    }
  }

  .slider {
    border: solid red 2px;
  }
}
